<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/contact-detail">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search" (ionInput)="filterContacts()"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-select placeholder="Sort by" (ionChange)="sortContacts($event.detail.value)">
      <ion-select-option value="name">Name</ion-select-option>
      <ion-select-option value="phone">Phone</ion-select-option>
      <ion-select-option value="email">Email</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of filteredContacts">
      <ion-label>{{ contact.id }}</ion-label>
      <ion-label>{{ contact.name }}</ion-label>
      <ion-label>{{ contact.phone }}</ion-label>
      <ion-label>{{ contact.email }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>