<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/contact-detail">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search" (ionInput)="filterContacts()"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-select placeholder="Sort by" (ionChange)="sortContacts($event.detail.value)">
      <ion-select-option value="name">Name</ion-select-option>
      <ion-select-option value="phone">Phone</ion-select-option>
      <ion-select-option value="email">Email</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="selectedTab === 'all'">
    <ion-item *ngFor="let contact of filteredContacts" >
      <ion-label>{{ contact.name }} {{contact.surname}}</ion-label>
      <ion-icon name="ellipsis-vertical-outline" (click)="openContactDetail(contact)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="selectedTab === 'favorites'">
    <ion-item *ngFor="let contact of favoriteContacts">
      <ion-label>{{ contact.name }} {{contact.surname}}</ion-label>
      <ion-icon name="ellipsis-vertical-outline" ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-segment [(ngModel)]="selectedTab" class="segment-bottom">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label>Favorites</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>