ion-content {
  --ion-background-color: transparent;
  background: #a8ff78;
  background: -webkit-linear-gradient(to right, #a8ff78, #78ffd6);
  background: linear-gradient(to right, #a8ff78, #78ffd6);
}

.login-card-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-card {
  width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-top: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

ion-card-header {
  text-align: center;
}

ion-header{
  --ion-background-color: transparent;

}

ion-toolbar{
  text-align: center;
}

ion-button {
  margin-top: 10px;
}


