<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-card-container">
    <ion-card class="login-card">
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item>
            <ion-input formControlName="username" label="Username" labelPlacement="floating" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="password" label="Password" labelPlacement="floating" type="password"></ion-input>
          </ion-item>
          <ion-button type="submit" color="success" shape="round" style="margin-top: 10px; display: block; margin-left: auto; margin-right: auto;">Login</ion-button>
        </form>
        <ion-button color="success" fill="clear" style="display: block; margin-left: auto; margin-right: auto;" (click)="goToRegister()">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
