<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-image">
  <div class="login-card-container">
    <ion-card class="login-card">
      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="username" label="Username" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" label="Password" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-button color="success" shape="round" style="margin-top: 10px; display: block; margin-left: auto; margin-right: auto;" (click)="login()">Login</ion-button>
        <ion-button color="success" fill="clear" style="display: block; margin-left: auto; margin-right: auto;" (click)="goToRegister()">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

