ion-content {
    --ion-background-color: transparent;
    background: linear-gradient(to bottom, rgb(141, 233, 141), rgb(141, 240, 126));
  }
ion-toolbar{
  padding-right: 10px;
}

  .contact-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-top: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

  }
  .contact-buttons{
    margin-top: 20px;
    border-radius: 70px;
  }
  .edit-icon{
    width: 20px;
    height: 20px;
  }

